  
  #navbar a:hover {
    background-color: #266f81;
    color: rgb(253, 244, 244);
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  #navbar {
    overflow: hidden;
    background-color: rgb(20, 19, 19);
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
 

  .content {
    padding: 16px;
  }
  

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }